<!--ユーザーの一覧ページ-->


<!--エラーメッセージ-->
<% if @book.errors.any? %>
  <%= @book.errors.count %> prohibited this obj from being saved:
  <ul>
    <% @book.errors.full messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!--サイドバーUserinfoとNewbook-->
<%= render 'users/list', user: @user %>
<%= render 'books/list', book: @book %>



<!--ユーザー一覧-->
<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= image_tag user.get_profile_image('50x50'), fallback: 'no_image.jpg' %>
        </td>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>