<!--投稿の詳細画面-->


<%= notice %>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <!--サイドバー-->
      <%= render 'users/list', user: @user %>
      <%= render 'books/list', book: @new_book %>
    </div>

    <div class='col-md-8 offset-md-1'>
    <!--投稿詳細-->
      <h2>Book detail</h2>
      <table class='table'>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= image_tag @book.user.get_profile_image('100x100'), fallback: 'no_image.jpg' %>
                <br>
                <%= @user.name %>
              <% end %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if current_user.id == @book.user_id %>
              <!--<td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success"%></td>-->
              <!--<td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-sm btn-danger" %></td>-->
              <td><%= link_to edit_book_path(@book.id), class:"btn btn-sm btn-success" do %>Edit<% end %></td>
              <td><%= link_to book_path(@book), class:"btn btn-sm btn-danger", method: :delete, 'data-confirm' => "本当に消しますか？" do %>Destroy<% end %></td>
            <% end %>
          </tr>
        </tbody>
       </table>
   </div>
  </div>
</div>